@font-face {
    font-family: "open-sans";
    src: url(fonts/open-sans/OpenSans-Regular.ttf);
    src: url(fonts/open-sans/OpenSans-Regular.eot),
        url(fonts/open-sans/OpenSans-Regular.otf),
        url(fonts/open-sans/OpenSans-Regular.woff),
        url(fonts/open-sans/OpenSans-Regular.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "open-sans-semibold";
    src: url(fonts/open-sans/OpenSans-SemiBold.ttf);
    src: url(fonts/open-sans/OpenSans-SemiBold.eot),
        url(fonts/open-sans/OpenSans-SemiBold.otf),
        url(fonts/open-sans/OpenSans-SemiBold.woff),
        url(fonts/open-sans/OpenSans-SemiBold.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "open-sans-italic";
    src: url(fonts/open-sans/OpenSans-Italic.ttf);
    src: url(fonts/open-sans/OpenSans-Italic.eot),
        url(fonts/open-sans/OpenSans-Italic.otf),
        url(fonts/open-sans/OpenSans-Italic.woff),
        url(fonts/open-sans/OpenSans-Italic.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "open-sans-semibold-italic";
    src: url(fonts/open-sans/OpenSans-SemiBoldItalic.ttf);
    src: url(fonts/open-sans/OpenSans-SemiBoldItalic.eot),
        url(fonts/open-sans/OpenSans-SemiBoldItalic.otf),
        url(fonts/open-sans/OpenSans-SemiBoldItalic.woff),
        url(fonts/open-sans/OpenSans-SemiBoldItalic.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "open-sans-light";
    src: url(fonts/open-sans/OpenSans-Light.ttf);
    src: url(fonts/open-sans/OpenSans-Light.eot),
        url(fonts/open-sans/OpenSans-Light.otf),
        url(fonts/open-sans/OpenSans-Light.woff),
        url(fonts/open-sans/OpenSans-Light.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "open-sans-condensed-bold";
    src: url(fonts/open-sans/OpenSansCondensed-Bold.ttf);
    src: url(fonts/open-sans/OpenSansCondensed-Bold.eot),
        url(fonts/open-sans/OpenSansCondensed-Bold.otf),
        url(fonts/open-sans/OpenSansCondensed-Bold.woff),
        url(fonts/open-sans/OpenSansCondensed-Bold.woff2);
    font-style: normal;
    font-weight: 300;
}