* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "open-sans", sans-serif;
    color: #404040;
    background-color: #ffffff;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.b-header {
    background-image: url("../img/hb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
}

.b-header-top {
    padding-top: 21px;
    padding-bottom: 40px;
}

.b-header-top__logo {
    display: inline-block;
    width: 428px;
    vertical-align: top;
    margin-top: 45px;
    margin-right: 32px;
}

mark {
    background: transparent;
}

.b-allotted-words {
    color: #bb1d1f;
    text-transform: uppercase;
}

.b-header-top__notice {
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 32px;
    width: 479px;
    position: relative;
    font-size: 32px;
    font-family: "open-sans-condensed-bold";
    padding: 11px 17px 16px;
    word-wrap: break-word;
}

.b-header-top__notice:before {
    border-color: transparent rgba(255,255,255,0.8) transparent transparent;
    border-style: solid;
    border-width: 15px;
    width: 0;
    height: 0;
    margin: -15px 0 0;
    top: 50%;
    left: -45px;
    width: 15px;
    position: absolute;
    content: "";
}

.b-header-top__notice-first-raw {
    letter-spacing: 1.9px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

.b-header-top__notice .b-allotted-words {
    letter-spacing: 3.8px;
    margin: 0;
    text-align: right;
    margin-bottom: 0;
}

.b-header-top__notice-phone-number {
    font-size: 48px;
    text-align: right;
    letter-spacing: 0.1px;
    margin: 0;
}

.b-header-top__notice-phone-number a {
    color: #000000;
    border-bottom: 7px dashed #000000;
    text-decoration: none;
}

.b-header-recourse {
    margin-bottom: 45px;
}

.b-header-recourse__item {
    margin-bottom: 11px;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "open-sans-light";
}

.b-header-recourse__item span {
    background-color: #ffffff;
    padding-left: 16px;
    padding-right: 31px;
    letter-spacing: -0.36px;
}

.b-header-recourse__item a {
    color: #000000;
    text-decoration: none;
}

.b-header-recourse__item .b-allotted-words {
    font-family: "open-sans-condensed-bold";
    letter-spacing: 4.7px;
    word-spacing: -2px;
}

.b-header-bottom__form-name {
    position: relative;
}

.b-header-bottom__form-phone {
    position: relative;
}

.b-header-bottom__form-name-input {
    background: none;
    font-size: 36px;
    border: none;
    border-bottom: 2px solid #000000;
    padding-left: 35px;
    padding-right: 43px;
    text-transform: uppercase;
    font-family: "open-sans-light";
    margin-bottom: 27px;
    outline: none;
}

.b-header-bottom__form-phone-input {
    background: none;
    font-size: 36px;
    border: none;
    border-bottom: 2px solid #000000;
    padding-left: 34px;
    padding-right: 44px;
    text-transform: uppercase;
    font-family: "open-sans-light";
    word-spacing: -2px;
    letter-spacing: -0.1px;
    margin-bottom: 39px;
    outline: none;
}

.b-star {
    color: #bb1d1f;
    font-size: 45px;
    position: absolute;
    left: 5px;
    font-family: "open-sans-condensed-bold";
}

.b-header-bottom__form-button {
    margin-bottom: 59px;
    padding-left: 26px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #bb1d1f;
    box-shadow: 3px 3px 8px #000000;
    font-family: "open-sans-semibold";
    letter-spacing: -0.3px;
}

.b-services {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "open-sans-semibold";
    margin-bottom: 91px;
}

.b-services__header {
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "open-sans-light";
    letter-spacing: 0.2px;
    padding-left: 2px;
    margin-bottom: 60px;
}

.b-services__item {
    display: inline-block;
    width: 291px;
    margin-right: 43px;
    margin-bottom: 31px;
}

.b-services__item:nth-child(3n+3) {
    margin-right: 35px;
}

.b-services__item:nth-child(3n+1) {
    margin-right: 0px;
}

.b-services__item-figure {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-services__item-figcaption {
    font-family: "Open-Sans-SemiBold";
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    padding-left: 11px;
}

.b-feature__header {
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "open-sans-light";
    letter-spacing: -0.4px;
    padding-left: 2px;
    margin-bottom: 49px;
}

.b-feature {
    font-family: "open-sans-semibold";
    margin-bottom: 162px;
}

.b-feature__list {
    list-style: none;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 71px;
}

.b-feature__list-item {
  padding-left: 64px;
  position: relative;
  letter-spacing: -0.5px;
}

.b-feature__list-item:before {
    background: url(../img/check-mark.png) no-repeat;
    background-size: 32px 23px;
    content: "";
    position: absolute;
    left: 0px;
    top: 25px;
    width: 32px;
    height: 23px;
}

.b-remark-reference {
    margin-bottom: 97px;
}

.b-remark-reference__header {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 36px;
  margin-left: 160px;
  font-family: "open-sans-light";
  letter-spacing: -0.04px;
  word-spacing: -1.1px;
}

.b-remark-reference__content {
    position: relative;
    margin-left: 63px;
    width: 840px;
    height: 215px;
    border: 3px solid #ffad2c;
    border-radius: 15px;
    text-align: center;
    line-height: 22px;
}

.b-remark-reference__content:before {
  content: "!";
  font-size: 260px;
  position: absolute;
  left: 14px;
  top: -45px;
  font-family: "open-sans-semibold";
}

.b-remark-reference__content-1 {
    font-family: "open-sans-italic";
    line-height: 1.2;
    letter-spacing: 0.1px;
    display: inline-block;
    margin-bottom: 13px;
}

.b-remark-reference__giant-dash {
    display: block;
    width: 113px;
    height: 4px;
    background-color: #000000;
    margin-left: 370px;
}

.b-remark-reference__content-2 {
    font-family: "open-sans-semibold";
    word-spacing: 0px;
    letter-spacing: 0px;
    line-height: 1.19;
    font-size: 16px;
    margin-bottom: 20px;
}

.b-remark-reference__content-3 {
    font-family: "open-sans-semibold";
    word-spacing: 0px;
    letter-spacing: 0px;
    line-height: 1.19;
    font-size: 16px;
}

.b-main-bottom {
    background-color: #bb1d1f;
    padding-top: 29px;
}

.b-main-bottom__notice {
  margin: 0px;
  margin-left: 72px;
  margin-bottom: 36px;
  font-size: 24px;
  color: #ffffff;
  font-family: "open-sans-semibold";
  letter-spacing: -0.2px;
}

.b-main-bottom__form {
    padding-bottom: 47px;
}

.b-main-bottom__form-name {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-right: 15px;
    width: 341px;
    font-family: "open-sans-light";
}

.b-main-bottom__form-phone {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-right: 12px;
    width: 341px;
    font-family: "open-sans-light";
    word-spacing: -2px;
}

.b-main-bottom__form-button {
    font-size: 20px;
    width: 238px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: none;
    background-color: #bb1d1f;
    font-family: "open-sans-semibold";
    padding-top: 2px;
    padding-left: 4px;
    padding-bottom: 8px;
}

.b-page-footer {
  position: relative;
}

.b-page-footer__logo {
  display: inline-block;
  margin-top: 39px;
}

.b-page-footer__phone-number {
  display: inline-block;
  font-family: "open-sans-condensed-bold";
  font-size: 22px;
  margin-bottom: 0px;
  position: absolute;
  top: 47px;
  left: 224px;
  border-bottom: 1px dashed #000000;
}

.b-page-footer__notice {
  font-family: "open-sans-condensed-bold";
  font-size: 21px;
  display: block;
  margin-top: -7px;
}

.b-page-footer__copyright {
  display: inline-block;
  margin-left: 770px;
  position: absolute;
  top: 51px;
  right: -5px;
}

.b-page-footer__developer {
  display: block;
  font-family: "open-sans-light";
  font-size: 14px;
  position: absolute;
  top: 21px;
}